:root {
    --black: #081e1f;
    --teal: #447678;
    --darkslategrey: #316569;
    --cadetblue: #5c8784;
    --darkslategrey-2: #132f2e;
    --darkslategrey-3: #244440;
    --darkslategrey-4: #385852;
}